[user]
  name = Stuart Hicks
  email = s@smhicks.uk
  signingkey = B7CCA53C
[commit]
  gpgsign = true
[core]
  excludesFile = ~/.gitignore
  pager = less
[push]
  default = current
[branch]
  autosetuprebase = always
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[rerere]
  enabled = true
  autoupdate = true
[color]
  ui = auto
[help]
  autocorrect = 1
[svn]
  logwindowsize = 25000
[tig]
  tab-size = 8
[url "git@github.com:"]
  insteadOf = http://github.com/
  insteadOf = https://github.com/
  insteadOf = git://github.com/
  insteadOf = git+ssh://github.com/
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  abandon-ship = reset HEAD^^ --hard
  br = branch
  ci = commit
  co = checkout
  d = diff -w
  ds = diff --staged -w
  fe = fetch --prune
  l = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --date=relative -n 14
  ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n 14
  lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
  s = status -sb
  st = status
  tg = tag
[credential]
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true
