# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Cucumber
rest-assured.log
screenshots/
tags
unlimited-cucumber-works

# Generic
*.log
*.patch
*.swp
*.test
.ropeproject/*
debug
log/
Session.vim
target/
tmp/
vim-go-test-compile
*.pyc
*.yarb
.editorconfig
.\#*
\#*\#
*~

**/.bin/*
