# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Cucumber
rest-assured.log
screenshots/
tags
unlimited-cucumber-works

*.log
*.test
*.swp
.projections.json
.ropeproject/*

tmp/
pentadactyl/info
.vscode/
debug
*.patch
