[submodule "vim/.vim/pack/plugins/start/vim-easy-align"]
	path = vim/.vim/pack/plugins/start/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/.vim/pack/plugins/start/rg"]
	path = vim/.vim/pack/plugins/start/rg
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/.vim/pack/plugins/start/horizon"]
	path = vim/.vim/pack/plugins/start/horizon
	url = https://github.com/ntk148v/vim-horizon
