[submodule "vim/.vim/pack/plugins/start/rg"]
	path = vim/.vim/pack/plugins/start/rg
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/.vim/pack/plugins/start/govim"]
	path = vim/.vim/pack/plugins/start/govim
	url = https://github.com/govim/govim.git
[submodule "vim/.vim/pack/plugins/start/skim"]
	path = vim/.vim/pack/plugins/start/skim
	url = git@github.com:lotabout/skim.git
[submodule "vim/.vim/pack/plugins/start/tagbar"]
	path = vim/.vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/pack/plugins/start/ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/.vim/pack/plugins/start/tcomment"]
	path = vim/.vim/pack/plugins/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
