[submodule "vim/.vim/pack/plugins/start/rg"]
	path = vim/.vim/pack/plugins/start/rg
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/.vim/pack/plugins/start/govim"]
	path = vim/.vim/pack/plugins/start/govim
	url = https://github.com/govim/govim.git
