# vi: ft=zsh
autoload -Uz compinit compdef
compinit

calias() {
  alias "$1"="$2"
  compdef "$1"="$2"
}

calias t tmux

# Git
calias g git
calias many git
calias much git
calias such git
calias very git
alias wow='git push'

# Filesystem
alias mkd='mkdir -p'
alias rd=rmdir
alias bonsai='tree -F --filelimit 15'

# *NIX
alias drop-caches="sync; sudo su -c 'echo 3 >> /proc/sys/vm/drop_caches'"
alias duh='du -sh *'
alias hex='hexdump -C'
alias ll='ls --color --group-directories-first -halF'
alias p='ps aux | grep -i'

# OSX
alias indexing='sudo mdutil -a -v -i'
alias reset-launchpad='defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock'
alias md='open -a macdown'

alias m=mosh
compdef mosh=ssh

alias ci=circleci
alias ci-build="circleci trigger --filter='.build_url'"

# Globals, ie 'curl foo V'
alias -g L="2>&1 | less"
alias -g NUL="> /dev/null 2>&1"
alias -g V='| vim -R -'

alias ago='ag --go --ignore vendor'
alias e='extract'
alias fenv='env | fzf'
alias fk=fkill
alias k='k -h --no-vcs'
alias kk='\k'
alias n=nvim
alias pr='hub pull-request'
alias red='exec 2>>( while read X; do print "\e[91m${X}\e[0m" > /dev/tty; done & )'
alias ssh-keygen-ecdsa='ssh-keygen -t ecdsa -b 521 -C "$(hostname)-$(date -I)" -f "~/.ssh/$(hostname)-$(date -I)"'
alias unused-steps='bash -c '"'"'vim --cmd "set errorformat=%m\ \#\ %f:%l" -q <( bundle exec cucumber --dry-run --format=usage | grep -B1 -i "not matched by any steps" )'"'"''
