layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }

    pane split_direction="vertical" {
        pane name="Session Sidebar" size=28 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zellij-session-sidebar.wasm"
        }

        pane
    }

    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
